body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

#hsatu {
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

.csatu {
    padding-top: 3.472vw;
    padding-bottom: 4.167vw;
    z-index: 1;
    position: relative;
}

.fotonya {
    background-image: url("donasiii.png");
    background-size: cover;
    height: 400px;
    color: white;
    position: relative;
}

.fotonya::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 104, 118, 0.5);;
    bottom: 0;
}

.cardku {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.area {
    padding-right: 2.083vw;
    padding-left: 2.083vw;
}

hr {
    border: 5px solid #F4C430; 
    background-color: #F4C430; 
    width: 145px; 
    margin-left: auto; 
    margin-top: auto;
}

span {
    color: red;
    text-align: center;
} 

h1 {
    margin-bottom: 0px; 
    text-align: center;
}

.btnbawah {
    background-color: #F4C430;
    border:0;
    color:#006876
}

.btnijo {
    background-color: #006876;
    border:0
}