{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}List Donasi{% endblock title %}</title>

        {% block additional_css %}
        <link rel="stylesheet" href="{% static 'style_donasi.css' %}"> 
        {% endblock additional_css %}

    </head>

    {% block content %}
    <div class="jumbotron jumbotron-fluid fotonya">
        <div class="container-fluid csatu">
            <h1 style="text-shadow: 2px 2px 10px #000000;"><b>DONASI</b></h1>
            <hr>
            <h3 id = "hsatu">Daftar Program Donasi<span><b> COVID-19</b></span></h3>
        </div>
    </div>

    <div class="text-center">
        <h5>Untuk berdonasi, pilih program yang kamu inginkan di bawah ini</h5><br>
    </div>

    <!-- Show result -->
    <div class="row">
        {% for kegiatan in data %}
        <div class="col-md-4 mb-4 area">
            <div class="card cardku" style="max-width: 22rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 10px;">
                <!-- card header -->
                <div class="card-header" style="font-weight: bold; background-color: #FFEFCA;">
                    <h5 class="card-title" style="color: #006876; font-weight: bold;">{{ kegiatan.nama_donasi }} </h5>
                </div>
                <div class="card-body">
                    <p style="font-weight: bold;">oleh {{ kegiatan.nama_pemberi }}</p>
                    <a href="{{ kegiatan.url }}" class="btn btn-primary btnijo">Lihat lebih lanjut</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

        <div class="text-center back">
            <h5 style="padding-bottom: 0.694vw;">Ingin menambahkan donasi?</h5>
            <a class="btn btn-primary btnbawah" href=" {% url 'donasi:form_donasi' %}" role="button">Tambah donasi</a><br>
        </div>
        <br>
    
    {% endblock content %}
