{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Form Donasi{% endblock title %}</title>

        {% block additional_css %}
        <link rel="stylesheet" href="{% static 'style_donasi2.css' %}"> 
        {% endblock additional_css %}

    </head>

    {% block content %}
    <!-- Form -->
    <div class="card mt-4 mb-5 shadow-sm rounded formbawah">
        <div class="card-body" id="tambahdonasi">
            <h3 class="text-center tambahdonasiTitle"><b>Tambahkan Donasi</b></h3><hr><br>
            <p class="text-center" style="padding-bottom: 1.042vw;">Terima kasih, orang baik! 😊</p>
            <div class="col-6" style="margin-left: 25%">
                <form class="d-flex flex-column my-2 w-90" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p class="w-100 justify-content-center my-1" style="padding-bottom: 0.694vw;"><b>{{ field.label }}</b><br> {{ field }}</p>
                    {% endfor %}
                    <button type="submit" value="Submit" class="btn btn-primary btnijo">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="back text-center">
        <a class="btn btn-primary btnbawah" href="/donasi" role="button">Kembali ke daftar donasi</a>
    </div>
    {% endblock content %}